.btn-blue {
    background-color: rgb(0, 162, 255);
        color: #fff;
        padding: 10px 40px;
        border-radius: 3px;
        margin: auto;
        margin-bottom: 3vw;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
}