input {
    width: 85vw;
    padding: 10px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    margin-bottom: 40px;

    @media screen and (min-width: 680px) {
        width: 500px;
    }
}

label {
    align-self: flex-start;
    margin-left: 40px;
    margin-bottom: 20px;

}

button {
    padding: 10px;
    width: 40%;
    background-color: rgb(255, 187, 0);
    border: 2px solid rgb(255, 187, 0);
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-bottom: 40px;
    font-weight: bold;

    &:hover {
        background-color: #fff;
        border: 2px solid rgb(255, 187, 0);
        color: rgb(255, 187, 0);
    }
}
.profil {
    background-color: #fdfdfd;
    padding-top: 110px;
    width: 100vw;
    @media screen and (min-width: 680px) {
        width: 600px;
        margin-left: 100px
    }    

    &__header {
        text-align: center;
        @media screen and (min-width: 680px) {
            width: 500px;
            margin: auto
        }
    }
    
    &__title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 50px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 680px) {
            align-items: center;;
        }
    }

    &__eye-icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__buttons {
        width: 100vw;
        display: flex;
        justify-content: space-evenly;

        @media screen and (min-width: 680px) {
            align-items: flex-start; 
            width: 500px;   
        }
    }

    &__btn-update {
        width: 60%;
    }

    &__eye-icon {
        color: #979797;
    }
}