h2, h3 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}
.users {
    background-color: #fdfdfd;

    &__container {
        padding-top: 15vh;
        @media screen and (min-width: 1200px) {
        padding: 15vh 10vw 0;
        }
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    &__cards {
        width: 70vw;
        margin: 2vw 2vw 4vw;
        border-radius: 3px;
        border: 1px solid #f1f1f1;
        -webkit-box-shadow: 0px 27px 19px -22px rgb(211, 211, 211);
-moz-box-shadow: 0px 27px 19px -22px rgb(211, 211, 211);
box-shadow: 0px 27px 19px -22px rgb(211, 211, 211);

        @media screen and (min-width: 680px) {
            width: 350px; 
            margin: 2vw;
            border-radius: 3px;
        }
       

        &-header {
            background-color: #f1f1f1;
            padding: 1vw;
            text-align: center;
        }

        &-name {
            color: #4e4e4e;
            font-size: 6vw;
            padding: 3vw 0;
            border-bottom: 1px solid #c9c9c9;
            @media screen and (min-width: 680px) {
                font-size: 1.6vw;
                padding: 1vw 0;
            }
        }

        &-mail {
            color: #4e4e4e;
            padding: 3vw 0;

            @media screen and (min-width: 680px) {
                padding: 1vw 0;
            }
        }

        &-footer {
            height: 20vh;
            background-color: #fff;
        }
    }

    
}