@import '../../sass/styles/_general.scss';
@import '../../vars/mixins';

textarea::-webkit-scrollbar-thumb {
    background-color: red;
    outline: 1px solid slategrey;
  }

.current {
    margin-top: 30px;

    &__container {
        width: 90vw;
        margin: auto;
        border-bottom: 1px solid #f1f1f1;
        
        @media screen and (min-width: 680px) {
            width: 950px;
        }
    }
    
    &__header {
        display: flex;
        align-items: baseline;
        
        &-title {
            font-size: 18px;
            font-weight: bold;
            margin-right: 10px;
            @media screen and (min-width: 680px) {
                font-size: 18px;
                margin-right: 20px;
            }
        }
        
        &-sender {
            color: #999999;
            font-size: 18px;
            
            @media screen and (min-width: 680px) {
                font-size: 18px;
            }
        }
    }
    
    &__content {
        margin-top: 10px;        
        padding: 3vw;
        border: 1px solid #e6e6e6;
        height: 100px;
        overflow-y: scroll;
        margin-bottom: 4vw;

        @media screen and (min-width: 680px) {
            padding: 1vw;
        }
    }
}

.response {
    margin-top: 60px;
    text-align: center;

    &__container {
        @media screen and (min-width: 680px) {
            width: 950px;
            margin: auto;
        }
    }
    
    &__textarea {
        width: 930px;
        padding: 10px;
        outline: none;
        border: 1px solid #e6e6e6;
        resize: none;

        &::-webkit-scrollbar-thumb {
            background-color: red;
            outline: 1px solid red;
          }
    }

    &__btn {
        @extend .btn-blue;
        align-self: center;
        margin-top: 30px;
    }
}
