@import '../../vars/fonts';
@import '../../vars/mixins';

input, textarea, select {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding: 10px 0;
    outline-color: rgba(0, 174, 255, 0.479);
    font-size: 16px;
    width: 90%;
    
    
    @media screen and (min-width: 680px) {
        margin: 0 20px 30px;
        width: 500px
    }
}

label {
    margin: 20px 0 10px 20px;
    font-weight: bold;
    font-size: 16px;
    align-self: flex-start;
}

.create {
    padding-top: 100px;
    width: 100vw;

    &__header {

        &-title {
            width: 90vw;
            font-size: 28px;
            border-bottom: 2px solid #dfdfdf;
            margin: 20px auto;
            padding-bottom: 10px;
            color: #979797;
            @media screen and (min-width: 1200px) {
                width: 1100px;
           
            }
        }
    }

    &__container {
        display: flex;
        flex-flow: column wrap;
        margin: auto;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        margin-bottom: 10vw;
        background-color: #fff;
        width: 90vw;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 680px) {
            align-items: flex-start;

        }

        @media screen and (min-width: 1200px)  {
            width: 1100px;
        }
        
        &-title {
            background-color: #636363; 
            color: #fff;
            padding: 14px 0;
            text-align: center;
            text-transform: uppercase;
            font-family: $t-title;
            font-size: 20px;
            letter-spacing: 0.3vw;
            font-weight: bold;
            width: 100%;
        }
    }
    
    &__title {

    }
    
    &__categories {
        background-color: #dfdfdf;
        font-size: 14px;
    }

    &__desc {
        @media screen and (min-width: 680px) {
            width: 500px;
        }
    }
    
    &__price {
        position: relative;
        margin-bottom: 2vw;
        align-self: flex-start;

        &::after {
            content: "€";
            font-size: 28px;
            position: absolute;
            top: 6px;
            left: 110px;
        }
        
        &-input {
            width: 80px;
            align-self: flex-start;
            margin-left: 10px;
            @media screen and (min-width: 680px) {
                margin-left: 20px            
            }
        }
    }

    &__btn {
        @extend .btn-blue;
    }

    &__errormessage {
        margin: auto;
        padding-bottom: 1vw;
        color: rgb(255, 94, 0);
    }
}